main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-family: system-ui;
}

main h1{
    padding-bottom: 2rem;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
}

section img{
    width: 50rem;
}
